body {
    background-color: #d4faf5;
    margin: 0;
}

.heading {
    text-align:center;
    color: #FDB768;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px 4px #000000;
    font-size: 30px;
    background-color: #0D2249;
    width: 100%;
    padding: 20px 0;
    
}


table {
    border: 2px solid red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-collapse: collapse;
}

.my-table th,.my-table td{
    border: 2px solid black;
    font-size: 25px;
    font-family: monospace, cursive;
    padding: 5px 10px;
}

.table-heading th{
    color: #FDB768;
    text-shadow: 2px 2px 3px #000000;
    background-color: #0D2249;
    
}

.footer{
    background-color: #34324a;
    color: #FDB768;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

